# Copy to .env (do not commit .env) before deploy.
# Spreadsheet ID is the long id in:
# https://docs.google.com/spreadsheets/d/<SHEETS_SPREADSHEET_ID>/edit

SHEETS_SPREADSHEET_ID=
SHEETS_TAB_NAME=ActionItems
